/* ===== Navbar Styles ===== */

/* Change Navbar Background Color */
/* .sticky-top .navbar {
    background-color: #d222fe !important;
} */

/* .sticky-top .navbar .form-control#navbar-search {
    background-color: #ffffff !important;
}

.sticky-top .navbar .form-control#navbar-search {
    color: #000000 !important;
} */


/* Optional: Add background to search bar */
/* .sticky-top .navbar .form-control#navbar-search {
    background-color: #ffffff !important; 
} */
