/* .page-body .layout-side-section {
    background-color: #d222fe !important; 
}

.page-body .layout-side-section .desk-sidebar-item {
    background-color: #d222fe !important; 
}

.page-body .layout-side-section .desk-sidebar-item a {
    color: #fff !important;
}

.page-body .layout-side-section .desk-sidebar-item a .icon-md {
    filter: invert(1) !important; 
}

.page-body .layout-side-section .desk-sidebar-item:hover {
    background-color: #fff !important; 
}

.page-body .layout-side-section .desk-sidebar-item:hover a {
    color: #d222fe !important; 
}

.page-body .layout-side-section .desk-sidebar-item:hover .icon-md {
    filter: invert(27%) sepia(85%) saturate(6372%) hue-rotate(-319deg) brightness(99%) contrast(94%) !important;
}

.sidebar-child-item.nested-container .sidebar-item-label { 
    font-weight: 500; 
    font-size: 14px; 
}

.sidebar-child-item.nested-container .icon-md { 
    height: 18px !important; 
    width: 18px !important; 
    filter: invert(1) !important; 
}

.page-body .layout-side-section .sidebar-item-container { 
    margin-bottom: 5px; 
}
.app-logo {
    width: 160px !important; 
} */
